.red-hero {
  background-color: #f47174;
  padding: 40px;
  margin-bottom: 20px;
}
.blue-hero {
  background-color: #93caed;
  padding: 40px;
  margin-bottom: 20px;
}
.green-hero {
  background-color: #acd1af;
  padding: 40px;
  margin-bottom: 20px;
}
